In [1]:
#import office_actions csv
#try to see balance of the data

In [13]:
import pandas as pd
import numpy as np

In [6]:
office_actions = pd.read_csv('/Users/redav/Documents/School/CloudML/Project3/data/office_actions.csv', usecols=['app_id', 'ifw_number', 'rejection_102', 'rejection_103'], nrows=10000)
office_actions.head()

     app_id  ifw_number  rejection_102  rejection_103
0  14150981   100867762              0              1
1  14198961   100867788              1              1
2  13796589   100867794              0              1
3  14673475   100867844              1              1
4  14669113   100867850              0              0

In [15]:
np.size(pd.unique(office_actions.app_id))

10000

In [30]:
neither = obvious = novelty = both = error = 0

for n,o in zip(office_actions.rejection_102, office_actions.rejection_103):
    if n == 0 and o == 0:
        neither += 1
    elif n == 0 and o == 1:
        obvious += 1
    elif n == 1 and o == 0:
        novelty += 1
    elif n == 1 and o == 1:
        both += 1
    else:
        error += 1
        
for num, word in zip([neither, obvious, novelty, both, error],['neither', 'obvious', 'novelty', 'both', 'error']):
    print(word+": "+str(num/office_actions.app_id.size*100)+"%")

neither: 8.93%
obvious: 53.5%
novelty: 10.530000000000001%
both: 27.04%
error: 0.0%